* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: burlywood;
}

.clock {
	width: 500px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff url(../img/clock.png);
	background-size: cover;
	border-radius: 50%;
	border: 20px solid white;
}

.clock::before {
	content: '';
	position: absolute;
	width: 17px;
	height: 17px;
	background-color: #000000;
	border: 2px solid white;
	z-index: 1;
	border-radius: 50%;
}

.hour,
.min,
.sec {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	border-radius: 50%;
	bottom: 50%;
	left: 50%;
}

.hour {
	background-color: #848484;
	height: 90px;
	width: 8px;
	border-radius: 6px 6px 0 0;
}

.min {
	background-color: #d6d6d6;
	height: 100px;
	width: 4px;
	border-radius: 6px 6px 0 0;
}

.sec {
	background-color: #ff6767;
	width: 2px;
	height: 150px;
	border-radius: 6px 6px 0 0;
}